@using MyBlog.Mvc.Areas.Admin.Models.SingleModels;
@model MyBlog.Entities.Dtos.RoleDtos.RoleListDto
@{
    Layout = "_Layout";
    ViewBag.Title = "Roller";
}
@await Component.InvokeAsync("BreadCrumbs", new BreadCrumbsViewModel
{
        Depth = 2,
        Controller = "Role",
        Action = "Yok",
        ActionTR = "Yok",
        TableType = ViewBag.TableType
})
<div id="modalPlaceHolder" aria-hidden="true"></div>
<div class="card mb-4">
    <div class="card-header">
        <i class="fas fa-table mr-1"></i>
        Roller
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="rolesTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Rol Adı</th>
                        <th>Tanım</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>#</th>
                        <th>Rol Adı</th>
                        <th>Tanım</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var role in Model.Roles)
                    {
                        <tr name="@role.Id">
                            <td>@role.Id</td>
                            <td>@role.Name</td>
                            <td>@role.Definition</td>
                        </tr>
                    }


                </tbody>
            </table>
        </div>
    </div>
</div>
@section Scripts
    {
    <script src="~/AdminArea/js/roleIndex.js" type="application/ecmascript"></script>
}
@section Styles
    {

}
