@using MyBlog.Mvc.Consts;
@using MyBlog.Services.Utilities;
@model MyBlog.Mvc.Areas.Admin.Models.UserModels.UserWithRolesViewModel
<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">MENÜ</div>
                <a class="nav-link" asp-area="Admin" asp-controller="Home" asp-action="Index">
                    <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                    ANASAYFA
                </a>
                <nav class="sb-sidenav-menu-nested nav accordion" id="sidenavAccordionPages"></nav>
                @*-------------------------------------------- KURUMSAL -------------------------------------------- *@
                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.InstitutionalProgramRead)))
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInstitutional" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        KURUMSAL
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseInstitutional" aria-labelledby="headingOne" data-parent="#sidenavAccordion">

                        <nav class="sb-sidenav-menu-nested nav">
                            @*-------------------------------------------- PERSONELLER -------------------------------------------- *@

                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeProgramRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmp" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Personeller
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseEmp" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Employee" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeCreate)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Employee" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Ekle</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Employee" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseEmpTypes" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Personel Tipleri
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="collapseEmpTypes" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeRead)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="EmployeeType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeRead)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="EmployeeType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                                }
                                            </nav>
                                        </div>
                                    </nav>
                                </div>
                            }

                            @*-------------------------------------------- USERS -------------------------------------------- *@
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.UserModuleRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUsers" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Kullanıcılar
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseUsers" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.UserRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.RoleModuleRead) || r.Equals(AuthorizeDefinitionConstants.RoleRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">Roller</a>
                                        }
                                    </nav>
                                </div>
                            }
                        </nav>
                    </div>
                }
                @*-------------------------------------------- KURUMSAL -------------------------------------------- *@
                @*-------------------------------------------- STOK START -------------------------------------------- *@
                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.StockModuleRead)))
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#stockLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        STOK | ÜRÜNLER
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="stockLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.ProductModuleRead) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProduct" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Ürünler
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseProduct" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ProductRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Ekle</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductAccessory" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Aksesuarlar
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseProductAccessory" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductAccessory" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                       @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductAccessory" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Ekle</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductAccessory" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                         @*    @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerReferanceModuleRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBrand" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Markalar
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseBrand" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.BrandRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.BrandRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerReferanceModuleRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseModel" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Modeller
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseModel" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ModelRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Model" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ModelRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Model" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerReferanceModuleRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductGroup" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Ürün Grupları
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseProductGroup" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ProductGroupRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductGroup" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ProductGroupRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductGroup" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerReferanceModuleRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseProductSubGroup" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Ürün Alt Grupları
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseProductSubGroup" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ProductSubGroupRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductSubGroup" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.ProductSubGroupRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="ProductSubGroup" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            } *@
                        </nav>
                    </div>



                }
                @*-------------------------------------------- STOK END -------------------------------------------- *@




                @*-------------------------------------------- PAZARLAMA START -------------------------------------------- *@
                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.MarketingProgramRead)))
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#marketingLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        PAZARLAMA
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.UserModuleRead)))
                    {
                        @*-------------------------------------------- REFERANSLAR START -------------------------------------------- *@
                        <div class="collapse" id="marketingLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            <nav class="sb-sidenav-menu-nested nav">
                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) @*|| r.Equals(AuthorizeDefinitionConstants.CustomerReferanceModuleRead)*@))
                                {
                                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseReferances" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                        Referanslar
                                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                    </a>
                                    <div class="collapse" id="collapseReferances" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                        <nav class="sb-sidenav-menu-nested nav">
                                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.CustomerReferenceRead)))
                                            {
                                                <a class="nav-link" asp-area="Admin" asp-controller="CustomerReferance" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                            }
                                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.CustomerReferenceRead)))
                                            {
                                                <a class="nav-link" asp-area="Admin" asp-controller="CustomerReferance" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                            }
                                        </nav>
                                    </div>
                                }
                            </nav>
                        </div>
                    }
                }@*-------------------------------------------- REFERANSLAR END -------------------------------------------- *@
                @*-------------------------------------------- PAZARLAMA END -------------------------------------------- *@




                @*-------------------------------------------- AJANDA START -------------------------------------------- *@
                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.AgendaProgramRead)))
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#agendaLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        AJANDA
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <nav class="sb-sidenav-menu-nested nav">
                        <div class="collapse" id="agendaLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                            @*-------------------------------------------- RANDEVULAR START -------------------------------------------- *@
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.AgendaProgramRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseApp" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Randevular
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseApp" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.AppointmentRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Appointment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Randevu Listesi</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.AppointmentCreate)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Appointment" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Randevu Oluştur</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.AppointmentRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Appointment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Randevu Arşivi</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.AppointmentTypeRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="AppointmentType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Randevu Tipleri Listesi</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.AppointmentTypeRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="AppointmentType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Randevu Tipleri Listesi Arşivi</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @*   <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseNoty" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Bildirimler
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseNoty" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.NotificationRead)))
                        {
                        <a class="nav-link" asp-area="Admin" asp-controller="Notification" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Bildirimler</a>
                        }
                        </nav>
                        </div> *@
                            @*   <a class="nav-link collapsed disabled" href="#" data-toggle="collapse" data-target="#collapseTasks" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Görevler
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a> *@
                            @* <div class="collapse" id="collapseTasks" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeRead)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Employee" asp-action="Index">Görev Listesi</a>
                        }
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeCreate)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Employee" asp-action="Add">Görev Ekle</a>
                        }
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.EmployeeRead)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Employee" asp-action="GetDeletedEmployees"  asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                        }
                        </nav>
                        </div>*@
                        </div>
                    </nav>
                }
                @*-------------------------------------------- AJANDA END -------------------------------------------- *@
                @*-------------------------------------------- HASTALAR START -------------------------------------------- *@
                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerModuleRead)))
                {

                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#customerLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        HASTALAR
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>

                    <div class="collapse" id="customerLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">


                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerProgramRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#aaa" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Hastalar
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="aaa" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Customer" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerCreate)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Customer" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Ekle</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Customer" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerProgramRead)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomerType" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Hasta Tipleri
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCustomerType" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerTypeRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="CustomerType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.CustomerTypeRead)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="CustomerType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                        </nav>
                    </div>
                }
                @*-------------------------------------------- HASTALAR END -------------------------------------------- *@
                @*-------------------------------------------- FINANCE START-------------------------------------------- *@
                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser) || r.Equals(AuthorizeDefinitionConstants.FinanceProgramRead)))
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#financeLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>
                        FİNANS
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="financeLayouts" aria-labelledby="headingOne" data-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            @* @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseInvoice" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Fatura
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseInvoice" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Invoice" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables  >Listele</a>
                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Invoice" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Fatura Kes</a>
                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Invoice" asp-action="GetDeletedInvoices"  asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                        }
                        </nav>
                        </div>
                        }*@
                            @*  @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseDailyExpenses" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Günlük Gider
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseDailyExpenses" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="DailyExpenses" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables  >Listele</a>
                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="DailyExpenses" asp-action="Add">Ekle</a>
                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="DailyExpenses" asp-action="DeletedDailyExpenses"  asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                        }
                        </nav>
                        </div>
                        }*@
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSale" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Satış
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseSale" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSales" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Satışlar
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="collapseSales" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="Sale" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Satışlar</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="Sale" asp-action="Add">Ekle</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="Sale" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                                }
                                            </nav>
                                        </div>
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSaleTypes" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Satış Tipleri
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="collapseSaleTypes" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="SaleType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Satış Tipleri</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="SaleType" asp-action="Add">Ekle</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="SaleType" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                                }
                                            </nav>
                                        </div>
                                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseSaleStatuses" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                            Satış Durumları
                                            <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                        </a>
                                        <div class="collapse" id="collapseSaleStatuses" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                            <nav class="sb-sidenav-menu-nested nav">
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="SaleStatus" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Satışlar</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="SaleStatus" asp-action="Add">Ekle</a>
                                                }
                                                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                                {
                                                    <a class="nav-link" asp-area="Admin" asp-controller="SaleStatus" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                                }
                                            </nav>
                                        </div>
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOutPayment" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Senetler
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseOutPayment" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="OutPayment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="OutPayment" asp-action="Add">Ekle</a>
                                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="OutPayment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOutPaymentDetail" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Senet Ödeme Detayları
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseOutPaymentDetail" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="OutPaymentDetail" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @* @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                {
                                <a class="nav-link" asp-area="Admin" asp-controller="OutPaymentDetail" asp-action="Add">Ekle</a>
                                }*@
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="OutPaymentDetail" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCostIncome" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Gelir | Gider
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapseCostIncome" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Expense" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Expense" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @*   @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseCustomerType" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        Detaylar
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                        </a>
                        <div class="collapse" id="collapseCustomerType" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Duruma Göre</a>
                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Duruma Göre</a>
                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Duruma Göre</a>
                        }
                        </nav>
                        </div>
                        }*@
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                            {
                                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayment" aria-expanded="false" aria-controls="pagesCollapseAuth">
                                    Ödemeler
                                    <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                                </a>
                                <div class="collapse" id="collapsePayment" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                                    <nav class="sb-sidenav-menu-nested nav">
                                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Payment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Listele</a>
                                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Payment" asp-action="Add" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Ekle</a>
                                        }@if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                                        {
                                            <a class="nav-link" asp-area="Admin" asp-controller="Payment" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Arşiv</a>
                                        }
                                    </nav>
                                </div>
                            }
                            @*                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Spend" asp-action="DeletedArticles">Günlük Kasa</a>
                        }
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Gider</a>
                        }
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Çekler</a>
                        }
                        @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin)))
                        {
                        <a class="nav-link disabled" asp-area="Admin" asp-controller="Article" asp-action="DeletedArticles">Senetler</a>
                        }*@
                        </nav>
                    </div>
                }
                @*-------------------------------------------- FINANCE END -------------------------------------------- *@

                @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.AgendaProgramRead)))
                {
                    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapsePayment" aria-expanded="false" aria-controls="pagesCollapseAuth">
                        <div class="sb-nav-link-icon"><i class="fas fa-file-alt"></i></div>

                        DESTEK
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapsePayment" aria-labelledby="headingOne" data-parent="#sidenavAccordionPages">
                        <nav class="sb-sidenav-menu-nested nav">
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                            {
                                <a class="nav-link" asp-area="Admin" asp-controller="MessageToDeveloper" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.NonDeletedTables>Destek Talepleri</a>
                            }
                            @if (Model.Roles.Any(r => r.Equals(AuthorizeDefinitionConstants.SuperAdmin) || r.Equals(AuthorizeDefinitionConstants.DefaultUser)))
                            {
                                <a class="nav-link" asp-area="Admin" asp-controller="MessageToDeveloper" asp-action="Index" asp-route-tableType=@TableReturnTypesConstants.DeletedTables>Tamamlanan Talepler</a>
                            }
                        </nav>
                    </div>
                }



            </div>
        </div>
        <div class="sb-sidenav-footer">
            <div class="small">Giriş Yapan Kullanıcı:</div>
            @Model.User.UserName
        </div>
    </nav>
</div>
