@using MyBlog.Services.Utilities;
@model MyBlog.Mvc.Areas.Admin.Models.SingleModels.BreadCrumbsViewModel

<ol class="breadcrumb mb-3 mt-2">
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Admin</a></li>
    @{
        if (Model.Depth>1)
        {
            <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller=@Model.Controller asp-action="Index" asp-route-tableType=@Model.TableType>Listele</a></li>

        }
        if (Model.Depth>2)
        {
            <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="@Model.Controller" asp-action=@Model.Action asp-route-tableType=@Model.TableType>@Model.ActionTR</a></li>
        }
    }
    
</ol>