@model MyBlog.Entities.Dtos.OutPaymentDetailDtos.OutPaymentDetailAddDto
<!-- Modal -->

<div class="modal fade" role="dialog" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">S
                <h5 class="modal-title" id="exampleModalLabel"><span class="fas fa-plus"></span>Marka Ekleme</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="İptal">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Add" id="form-outPaymentDetail-add">
                    <input name="IsValid" type="hidden" value="@ViewData.ModelState.IsValid.ToString()" />
                    <div asp-validation-summary="All" class="text-danger" id="validation-summary" aria-hidden="true" style="display: none"></div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <label>Ödenecek Tutar</label>
                            <span asp-validation-for="AmountPaid" class="text-danger"></span>

                            <div class="input-group">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">TL</span>
                                    </div><input type="number" id="paymentAmountDetail" class="form-control" placeholder="Ödenecek Tutar" oninput="checkPaymentAmountFromDetail('fromDefault')" asp-for="AmountPaid" value="0" />

                                <div class="input-group-append">
                                        <button class="btn btn-primary" type="button" onclick="payFullAmountFromDetail()">Tümünü Öde</button>
                                </div>
                                </div> 

                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Açıklama</span>
                            </div><input class="form-control" asp-for="Description"/>
                        <span class="text-danger" asp-validation-for="Description"></span>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Personel</span>
                            </div><select id="employeesList" class="form-control" asp-for="EmployeeId" asp-items="@(new SelectList(Model.Employees,"Id","FirstName"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Dış Ödeme Yeri</span>
                            </div><select id="paymentList" disable class="form-control" asp-for="OutPaymentId" asp-items="@(new SelectList(Model.OutPayments,"Id","PaidPlace"))">
                            <option></option>
                        </select>
                        <span asp-validation-for="EmployeeId" class="text-danger"></span>
                    </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger btn-block" data-dismiss="modal"> <span class="fas fa-times"></span>İptal</button>
                <button type="button" class="btn btn-primary btn-block" id="btnSave"><span class="fas fa-save"></span>Kaydet</button>
            </div>
        </div>
    </div>
</div>


